<main class="w-screen relative">
  <!-- Single bar at the top -->
  <div class="absolute top-0 left-0 w-full h-[70px] bg-[#8286F4]"></div>
  <div class="flex w-full h-full relative">
    <!-- Sidebar -->
    <div [ngClass]="{ 'lg:flex': !sidebarCollapsed }" class="{{ isAbsolute ? 'absolute': 'fixed' }} top-0 left-0 hidden min-w-[15%] h-full bg-white rounded-tr-[70px] flex-col">
      <div class="flex items-center mt-4 px-2 cursor-pointer" (click)="collapseSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" class="p-1 rounded-lg hover:border" width="40" height="40" viewBox="0 0 24 24"><path fill="#000000" d="M3 18v-2h13v2zm16.6-1l-5-5l5-5L21 8.4L17.4 12l3.6 3.6zM3 13v-2h10v2zm0-5V6h13v2z"/></svg>
      </div>
      <p class="text-xl px-4 font-bold mb-4 mt-12">Filter</p>
      <div class="flex flex-col w-full px-4 overflow-y-auto custom-scrollbar">
        <!-- Dropdown for Company Category -->
        <div class="flex flex-col mb-5">
          <div class="flex justify-between items-center">
            <p class="text-sm font-semibold">Companies</p>
            <div class="flex justify-center items-center cursor-pointer p-1 w-6 h-6 rounded-full hover:bg-slate-100" (click)="toggleDropdown('company')">
              <svg *ngIf="dropdownId === 'company'" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"/></svg>
              <svg *ngIf="dropdownId !== 'company'" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6z"/></svg>
            </div>
          </div>
          <ng-container *ngFor="let company of companies">
            <div class="flex justify-between items-center my-2" *ngIf="dropdownId === 'company'">
              <div class="flex items-center">
                <input id="linkcompany" type="checkbox" value="{{ company }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" 
                       (change)="filterEmployeesByCompany($event)">
                <label for="linkcompany" class="ms-2 text-[12px] leading-3 font-medium text-gray-900">{{ company }}</label>
              </div>
              <!-- <div class="flex justify-center items-center p-1 w-6 h-6 bg-purple-200 rounded-sm">
                <p class="text-[12px] font-semibold text-purple-800">0</p>
              </div> -->
            </div>
          </ng-container>
        </div>

        <!-- Dropdown for Job Title Category -->
        <div class="flex flex-col mb-5">
          <div class="flex justify-between items-center">
            <p class="text-sm font-semibold">Job title</p>
            <div class="flex justify-center items-center cursor-pointer p-1 w-6 h-6 rounded-full hover:bg-slate-100" (click)="toggleDropdown('jobtitle')">
              <svg *ngIf="dropdownId === 'jobtitle'" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"/></svg>
              <svg *ngIf="dropdownId !== 'jobtitle'" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6z"/></svg>
            </div>
          </div>
          <ng-container *ngFor="let job of getJobs()">
            <div class="flex justify-between items-center my-2" *ngIf="dropdownId === 'jobtitle'">
              <div class="flex items-center">
                <input id="linkjob" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                <label for="linkjob" class="ms-2 text-[12px] leading-3 font-medium text-gray-900">{{ job }}</label>
              </div>
              <!-- <div class="flex justify-center items-center p-1 w-6 h-6 bg-purple-200 rounded-sm">
                <p class="text-[12px] font-semibold text-purple-800">0</p>
              </div> -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div [ngClass]="{ 'lg:ml-[15%]': !sidebarCollapsed }" class="relative lg:ml-0 w-full">
      <div class="min-w-full h-full">
        <!-- Navbar -->
        <div class="w-full h-[70px] flex">
          <div class="flex justify-between items-center w-full h-full px-8">
            <!-- List menu -->
            <div [ngClass]="{ 'lg:hidden': !sidebarCollapsed }" class="flex justify-center items-center cursor-pointer p-1 rounded-full hover:bg-slate-100/50" (click)="collapseSidebar()">
              <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180" width="32" height="32" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 18v-2h13v2zm16.6-1l-5-5l5-5L21 8.4L17.4 12l3.6 3.6zM3 13v-2h10v2zm0-5V6h13v2z"/></svg>
            </div>
            <!-- Menu -->
            <ul class="hidden md:flex justify-center items-center h-full transition-all">
              <li class="flex justify-center items-center border-b-4 border-b-transparent hover:border-b-white mr-12 px-2 h-full cursor-pointer">
                <p class="text-sm text-white">Network</p>
              </li>
              <li class="flex justify-center items-center border-b-4 {{ tabType === 'line' ? 'border-b-white text-white' : 'bg-white text-black' }} border-b-white mr-12 px-2 h-full cursor-pointer">
                <p class="text-sm">Employees</p>
              </li>
              <li class="flex justify-center items-center border-b-4 border-b-transparent hover:border-b-white mr-12 px-2 h-full cursor-pointer">
                <p class="text-sm text-white">Jobs</p>
              </li>
              <li class="flex justify-center items-center border-b-4 border-b-transparent hover:border-b-white mr-12 px-2 h-full cursor-pointer">
                <p class="text-sm text-white">Companies</p>
              </li>
            </ul>
            <!-- User details -->
            <div class="flex justify-center items-center gap-4">
              <div class="flex md:hidden justify-center items-center cursor-pointer p-1 rounded-full hover:bg-slate-100/50">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"/></svg>
              </div>
              <div class="flex justify-center items-center rounded-full w-10 h-10 bg-white/50 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="wfull h-full" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                </svg>
              </div>
              <div class="hidden lg:flex flex-col gap-0.5">
                <p class="text-[10px] text-white">Recruiter</p>
                <p class="text-[12px] leading-4 text-white">Patrick Namegni</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="w-full p-8 bg-slate-200 min-h-[calc(100vh-70px)]">
          <div class="flex flex-col w-full">
            <div class="flex max-sm:flex-col justify-between mb-6 pb-6 border-b border-b-gray-300 gap-4">
              <p class="text-xl font-semibold">Overview</p>
              <!-- Search input & Create button -->
              <div class="flex max-sm:justify-center justify-end gap-4 w-full">
                <!-- Search input -->
                <form class="max-w-md max-sm:w-full">
                  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg
                        class="w-4 h-4 text-gray-500"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                      </svg>
                    </div>
                    <input
                      type="search"
                      id="default-search"
                      class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Search..."
                      required
                      (input)="filterEmployees($event)"
                    />
                  </div>
                </form>

                <!-- Create button -->
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center max-sm:hidden inline-flex items-center me-2 gap-2" (click)="toggleModal()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4"/></svg>
                  Add
                </button>
              </div>
            </div>

            <div class="w-full flex flex-wrap items-center justify-center gap-4 mb-6">
              <ng-container *ngFor="let type of jobTypes">
                <div [ngClass]="{ 'border-2 border-blue-500 text-blue-500': selectedType === type.name}" class="flex justify-center items-center px-4 py-1 rounded-full border border-gray-400 text-gray-400 bg-white cursor-pointer" (click)="filterByType(type.name)">
                  <p class="text-sm font-medium">{{ type.name }}</p>
                </div>
              </ng-container>
            </div>

            <div [ngClass]="{ 'xl:grid-cols-4': sidebarCollapsed }" class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 justify-center">
              <ng-container *ngFor="let employee of employees">
                <!-- Employee card -->
                <div class="rounded-xl border bg-card text-card-foreground shadow-sm w-full max-w-xs bg-gray-100 relative hover:shadow-md transition-all group z-0 ">
                  <div class="flex-col px-4 py-2 gap-2 relative bg-white rounded-t-xl">
                    <div class="flex max-[380px]:flex-col items-center gap-2 max-w-md">
                      <span class="relative flex justify-center items-center shrink-0 overflow-hidden rounded-full w-14 h-14 max-[380px]:w-20 max-[380px]:h-20 border">
                        <span *ngIf="!employee?.imageUrl; else elseBlock" class="flex h-full w-full items-center justify-center rounded-full bg-muted">
                          {{ getInitials(employee?.name!) }}
                        </span>

                        <ng-template #elseBlock>
                          <img src="{{ employee?.imageUrl }}" alt="avatar" class="w-full h-full object-contain" />
                        </ng-template>
                      </span>
                      <div class="flex flex-col max-[380px]:items-center gap-0.5 text-sm">
                        <h1 class="font-bold">{{ employee?.name }}</h1>
                        <p class="text-xs text-gray-500">
                          {{ employee?.jobTitle }}
                        </p>
                        <div class="flex justify-center items-center rounded-full text-[10px] w-12 font-semibold bg-green-200 text-green-800">
                          Active
                        </div>
                      </div>
                    </div>
                    <!-- <div class="absolute top-2 right-4 p-2 w-10 h-10 z-1 rounded-full hover:shadow-md cursor-pointer" (click)="toggleSelected(employee.id, employee)">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="M16 12a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2"/></svg>
                    </div> -->

                    <!-- Buttons Edit, Delete and Details -->
                    <!-- <div class="hidden absolute top-1 right-1 group-hover:flex gap-1">
                      <button class="relative inline-block p-1 justify-center w-7 h-7 items-center rounded-full border" (click)="toggleModal('info', employee)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#71717a" d="M12 7q-.825 0-1.412-.587T10 5q0-.825.588-1.412T12 3q.825 0 1.413.588T14 5q0 .825-.587 1.413T12 7m-1.5 14V9h3v12z"/></svg>
                      </button>
                      <button class="inline-block p-1 justify-center w-7 h-7 items-center rounded-lg border" (click)="toggleModal('edit', employee)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#22c55e" d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15q.4 0 .775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"/></svg>
                      </button>
                      <button class="inline-block p-1 justify-center w-7 h-7 items-center rounded-lg border" (click)="toggleModal('delete', employee)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ef4444" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM7 6v13z"/></svg>
                      </button>
                    </div> -->
                    <div class="hidden absolute top-0 xl:-right-6 right-0 xl:bg-white bg-transparent group-hover:flex z-10 rounded-tr-md rounded-br-md">
                      <div class="flex flex-col ml-4 py-0.5 shadow-sm">
                        <div class="relative inline-block w-6 h-6 py-1 border-b hover:bg-gray-100" (click)="toggleModal('info', employee)">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#64748b" d="M11 9c0 1.66-1.34 3-3 3s-3-1.34-3-3s1.34-3 3-3s3 1.34 3 3m3 11H2v-2c0-2.21 2.69-4 6-4s6 1.79 6 4M7 9c0 .55.45 1 1 1s1-.45 1-1s-.45-1-1-1s-1 .45-1 1m-3 9h8c0-1.1-1.79-2-4-2s-4 .9-4 2m18-6v2h-9v-2m9-4v2h-9V8m9-4v2h-9V4Z"/></svg>
                        </div>
                        <div class="relative inline-block w-6 h-6 py-1 border-b hover:bg-gray-100" (click)="toggleModal('edit', employee)">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#22c55e" d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15q.4 0 .775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"/></svg>
                        </div>
                        <div class="relative inline-block w-6 h-6 py-1 hover:bg-gray-100" (click)="toggleModal('delete', employee)">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ef4444" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM7 6v13z"/></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-3 px-5 py-4 text-xs">
                    <div class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#000000" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zM20 8l-7.475 4.675q-.125.075-.262.113t-.263.037t-.262-.037t-.263-.113L4 8v10h16zm-8 3l8-5H4zM4 8v.25v-1.475v.025V6v.8v-.012V8.25zv10z"/></svg>
                      <p class="font-medium overflow-hidden text-ellipsis whitespace-nowrap max-w-[30ch]">{{ employee?.email?.toLowerCase() }}</p>
                    </div>
                    <div class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#000000" d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3M6.025 9l1.65-1.65L7.25 5H5.025q.125 1.025.35 2.025T6.025 9m8.95 8.95q.975.425 1.988.675T19 18.95v-2.2l-2.35-.475zm0 0"/></svg>
                      <p class="font-medium">{{ employee?.phone }} </p>
                    </div>
                    <div class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#000000" d="M19 3v18h-6v-3.5h-2V21H5V3zm-4 4h2V5h-2zm-4 0h2V5h-2zM7 7h2V5H7zm8 4h2V9h-2zm-4 0h2V9h-2zm-4 0h2V9H7zm8 4h2v-2h-2zm-4 0h2v-2h-2zm-4 0h2v-2H7zm8 4h2v-2h-2zm-8 0h2v-2H7zM21 1H3v22h18z"/></svg>
                      <p class="font-medium">{{ employee?.companyName }} </p>
                    </div>
                  </div>
                  
                  <!-- CRUD Operations -->
                  <!-- <div [ngClass]="{ 'hidden': selectedId !== employee.id }" class="w-full h-full absolute top-0 left-0 flex justify-center items-center bg-black/75 rounded-lg z-10">
                    <div class="flex flex-wrap justify-center items-center gap-2">
                      <div class="p-2 w-10 h-10 rounded-full bg-green-600 hover:bg-green-500 cursor-pointer" (click)="toggleModal('edit')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ffffff" d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z"/></svg>
                      </div>
                      <div class="p-2 w-10 h-10 rounded-full bg-red-600 hover:bg-red-500 cursor-pointer" (click)="toggleModal('delete')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ffffff" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                      </div>
                      <div class="p-2 w-10 h-10 rounded-full border hover:bg-white/15 cursor-pointer" (click)="closeSelected()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ffffff" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
                      </div>
                    </div>
                  </div> -->
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed bottom-8 right-4">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-3 text-center hidden max-sm:inline-flex items-center" (click)="toggleModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4"/></svg>
      </button>
    </div>

    <!-- Main modal -->
    <div [ngClass]="{ 'hidden': !showModal }" class="fixed top-0 left-0 right-0 inset-0 z-10 overflow-y-auto bg-black/60 w-full" id="modal">
      <div class="flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
              <h3 class="text-lg font-semibold text-gray-900 capitalize">
                {{ !optionDesc ? 'Add new' : optionDesc }} employee
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" (click)="closeModal(empForm)">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <!-- <form class="p-4 md:p-5" #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)"> -->
            <form #empForm="ngForm" class="p-4 md:p-5" (ngSubmit)="optionDesc === 'edit' ? editEmployee(empForm) : (optionDesc === 'delete' ? deleteEmployee() : saveEmployee(empForm))">
              <div *ngIf="optionDesc === 'delete'; else elseBlock" class="flex items-center py-1 mb-4">
                <p class="text-sm font-medium">Are you sure you want to delete this employee ?</p>
              </div>
              <ng-template #elseBlock>
                <div class="grid gap-4 mb-4 grid-cols-2">
                  <div class="col-span-2">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email Address</label>
                    <input type="email" ngModel="{{ optionDesc === 'edit' ? getEmployee.email : '' }}" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="e.g. john@doe.com" required>
                  </div>
                  <div class="col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                    <input type="text" ngModel="{{ optionDesc === 'edit' ? getEmployee.name : '' }}" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="e.g. John" required>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Phone</label>
                    <input type="text" ngModel="{{ optionDesc === 'edit' ? getEmployee.phone : '' }}" name="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="e.g. 555-555-5555" required>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="sex" class="block mb-2 text-sm font-medium text-gray-900">Sex</label>
                    <select id="sex" ngModel="{{ optionDesc === 'edit' ? getEmployee.sex : 'female' }}" name="sex" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5">
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="companyName" class="block mb-2 text-sm font-medium text-gray-900">Company Name</label>
                    <input type="text" ngModel="{{ optionDesc === 'edit' ? getEmployee.companyName : '' }}" name="companyName" id="companyName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="e.g. Acme Corp" required>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900">Job Title</label>
                    <input type="text" ngModel="{{ optionDesc === 'edit' ? getEmployee.jobTitle : '' }}" name="jobTitle" id="jobTitle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="e.g. Manager" required>
                  </div>
                  <div class="col-span-2">
                    <label for="workType" class="block mb-2 text-sm font-medium text-gray-900">Work Type</label>
                    <select id="workType" ngModel="{{ optionDesc === 'edit' ? getEmployee.workType : 'Full Time' }}" name="workType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5">
                      <option class="py-2" value="Full Time">Full Time</option>
                      <option value="Part Time">Part Time</option>
                      <option value="contract">Contract</option>
                      <option value="Contract">Freelance</option>
                      <option value="Internship">Internship</option>
                      <option value="Apprenticeship">Apprenticeship</option>
                    </select>
                  </div>
                  <div class="col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900" for="imageUrl">Avatar</label>
                    <!-- <input ngModel name="imageUrl" class="block w-full p-0.5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none" aria-describedby="file_input_help" id="file_input" type="file"> -->
                    <input type="text" ngModel="{{ optionDesc === 'edit' ? getEmployee.imageUrl : '' }}" name="imageUrl" id="imageUrl" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5" placeholder="Image URL" required>
                    <!-- <p class="mt-1 text-sm text-gray-500" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p> -->
                  </div>
                  <input type="hidden" ngModel="{{ optionDesc === 'edit' ? getEmployee.id : '' }}" name="id" >
                  <input type="hidden" ngModel="{{ optionDesc === 'edit' ? getEmployee.code : '' }}" name="code" >
                </div>
              </ng-template>
              
              <div class="w-full flex justify-end gap-2">
                <div class="text-black cursor-pointer inline-flex items-center border hover:bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="closeModal(empForm)">
                  Cancel
                </div>
                <button [ngClass]="{'bg-red-700 hover:bg-red-800 focus:ring-red-300': optionDesc === 'delete'}" id="emp-submit" type="submit" [disabled]="empForm.invalid" class="text-white cursor-pointer inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 disabled:bg-green-700/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center capitalize">
                  {{ !optionDesc ? 'Save changes' : optionDesc }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <!-- App Design Configuration -->
  <div class="fixed top-1/2 {{ enableConfig ? 'right-0' : 'right-1/3' }} z-50">
    <div class="relative bg-[#8286F4] rounded-tl-md rounded-bl-md p-3 cursor-pointer" (click)="showConfig()">
      <div class="top-auto left-auto flex justify-center items-center inset-0 aria-hidden:true w-5 h-5 rotate-cog">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ffffff" d="m9.25 22l-.4-3.2q-.325-.125-.612-.3t-.563-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.338v-.675q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2zm2.8-6.5q1.45 0 2.475-1.025T15.55 12t-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12t1.013 2.475T12.05 15.5"/></svg>
      </div>
    </div>
  </div>
  <div class="fixed top-0 right-0 w-1/3 h-full flex-col max-h-[100vh] overflow-y-auto bg-gray-100 shadow-xl {{ !enableConfig ? 'flex' : 'hidden' }}">
    <!-- Appearance Options -->
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center px-4 py-2">
        <p class="text-base text-gray-900">Appearance Options</p>
      </div>
      <div class="flex items-center p-4 border bg-white w-full">
        <div class="flex flex-col border rounded-sm w-full">
          <!-- Switch Light/Dark mode -->
          <div class="flex items-center px-4 py-2 gap-4 border-b">
            <!-- Switch theme -->
            <div class="relative w-16 h-8 flex items-center rounded-full p-0.5 {{ !isDarkMode ? 'bg-gray-300' : 'bg-gray-700' }} transition-all cursor-pointer" (click)="switchTheme()">
              <div class="absolute {{ !isDarkMode ? 'left-0.5' : 'right-0.5' }} w-7 h-7 rounded-full bg-white"></div>
              <div class="absolute {{ !isDarkMode ? 'right-1.5' : 'left-1.5' }} w-5 h-5 rounded-full">
                <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#000000" d="M12 17q-2.075 0-3.537-1.463T7 12t1.463-3.537T12 7t3.538 1.463T17 12t-1.463 3.538T12 17m-7-4H1v-2h4zm18 0h-4v-2h4zM11 5V1h2v4zm0 18v-4h2v4zM6.4 7.75L3.875 5.325L5.3 3.85l2.4 2.5zm12.3 12.4l-2.425-2.525L17.6 16.25l2.525 2.425zM16.25 6.4l2.425-2.525L20.15 5.3l-2.5 2.4zM3.85 18.7l2.525-2.425L7.75 17.6l-2.425 2.525z"/></svg>
                <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24"><path fill="#ffffff" d="M14 22q-2.05 0-3.875-.788t-3.187-2.15t-2.15-3.187T4 12q0-2.075.788-3.887t2.15-3.175t3.187-2.15T14 2q1.35 0 2.625.35t2.375 1q-2.275 1.325-3.637 3.588T14 12t1.363 5.063T19 20.65q-1.1.65-2.375 1T14 22"/></svg>
              </div>
            </div>
            <!-- Description theme -->
            <div class="flex flex-col gap-2">
              <p class="text-sm font-semibold">Switch Theme</p>
              <p class="text-xs text-gray-500">Change the theme of the app!</p>
            </div>
          </div>

          <div class="flex items-center px-4 py-2 gap-4">
            <!-- Switch position -->
            <div class="relative w-16 h-8 flex items-center rounded-full p-0.5 {{ !isAbsolute ? 'bg-gray-300' : 'bg-gray-700' }} transition-all cursor-pointer" (click)="switchPosition()">
              <div class="absolute {{ !isAbsolute ? 'left-0.5' : 'right-0.5' }} w-7 h-7 rounded-full bg-white"></div>
              <div class="absolute {{ !isAbsolute ? 'right-1.5' : 'left-1.5' }} rounded-full">
                <p *ngIf="!isAbsolute" class="text-[10px] font-extrabold">ON</p>
                <p *ngIf="isAbsolute" class="text-[10px] font-extrabold text-white">OFF</p>
              </div>
            </div>
            <!-- Description -->
            <div class="flex flex-col gap-2">
              <p class="text-sm font-semibold">Fixed Sidebar</p>
              <p class="text-xs text-gray-500">Makes the sidebar left fixed, always visible!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Header Options -->
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center p-3 border-y border-y-gray-200">
        <p class="text-base text-gray-900">Header Options</p>
        <div class="flex justify-center items-center px-4 py-2 rounded-full bg-slate-700 hover:bg-slate-800 shadow-slate-800 shadow-sm transition-all cursor-pointer">
          <p class="text-xs font-semibold text-white">Restore Default</p>
        </div>
      </div>
      <div class="flex items-center p-4 border bg-white w-full">
        <div class="flex flex-col px-4 py-2 border rounded-sm w-full gap-6">
          <!-- Choose basic color scheme -->
          <div class="flex flex-col justify-center items-center w-full border-b pb-6 gap-4">
            <!-- Text -->
            <p class="text-sm uppercase text-blue-500 tracking-wider">choose color scheme</p>
            <!-- Colors -->
            <div class="flex flex-wrap justify-center items-center gap-2">
              <span class="w-7 h-7 rounded-full p-2 bg-slate-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-gray-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-zinc-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-neutral-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-stone-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-red-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-orange-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-amber-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-yellow-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-lime-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-green-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-emerald-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-teal-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-cyan-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-sky-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-blue-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-indigo-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-violet-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-purple-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-fuchsia-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-pink-500 border"></span>
              <span class="w-7 h-7 rounded-full p-2 bg-rose-500 border"></span>
            </div>
          </div>
          <!-- Choose gradient colors -->
          <div class="flex flex-wrap justify-center items-center gap-2">            
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
              <div class="w-7 h-7 rounded-full p-2 border"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Options -->
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center p-3 border-y border-y-gray-200">
        <p class="text-base text-gray-900">Sidebar Options</p>
        <div class="flex justify-center items-center px-4 py-2 rounded-full bg-slate-700 hover:bg-slate-800 shadow-slate-800 shadow-sm transition-all cursor-pointer">
          <p class="text-xs font-semibold text-white">Restore Default</p>
        </div>
      </div>
      <div class="flex items-center p-4 border bg-white w-full">
        <div class="flex flex-col px-4 py-2 border rounded-sm w-full gap-6">
          <!-- Choose basic color scheme -->
          <div class="flex flex-col justify-center items-center w-full border-b pb-6 gap-4">
            <!-- Text -->
            <p class="text-sm uppercase text-blue-500 tracking-wider">choose color scheme</p>
            <div class="flex flex-wrap justify-center items-center gap-2">
              <!-- Colors -->
              <div class="flex flex-wrap justify-center items-center gap-2">
                <span class="w-7 h-7 rounded-full p-2 bg-slate-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-gray-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-zinc-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-neutral-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-stone-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-red-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-orange-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-amber-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-yellow-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-lime-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-green-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-emerald-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-teal-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-cyan-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-sky-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-blue-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-indigo-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-violet-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-purple-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-fuchsia-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-pink-500 border"></span>
                <span class="w-7 h-7 rounded-full p-2 bg-rose-500 border"></span>
              </div>
            </div>
          </div>
          <!-- Choose gradient colors -->
          <div class="flex flex-wrap justify-center items-center gap-2">            
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
              <div class="w-7 h-7 rounded-full p-2 border"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content Options -->
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center p-3 border-y border-y-gray-200">
        <p class="text-base text-gray-900">Main Content Options</p>
        <div class="flex justify-center items-center px-4 py-2 rounded-full bg-slate-700 hover:bg-slate-800 shadow-slate-800 shadow-sm transition-all cursor-pointer">
          <p class="text-xs font-semibold text-white">Restore Default</p>
        </div>
      </div>
      <div class="flex items-center p-4 border bg-white w-full">
        <div class="flex flex-col py-2 border rounded-sm w-full gap-3">
          <!-- Choose page section tabs -->
          <div class="flex flex-col justify-center items-center w-full border-b pb-2 gap-4">
            <!-- Text -->
            <p class="text-sm uppercase text-blue-500 tracking-wider">page section tabs</p>
            <div class="flex flex-wrap justify-center items-center gap-2">
              <!-- Tabs -->
              <div class="flex border bg-gray-900 rounded-md">
                <div class="flex justify-center items-center py-3 px-10 cursor-pointer {{ tabType !== 'line' ? 'bg-gray-600 hover:bg-gray-700 rounded-tl-md rounded-bl-md' : 'bg-transparent' }}" (click)="changeTabType()">
                  <p class="text-xs font-semibold text-white">Line</p>
                </div>
                <div class="flex justify-center items-center py-3 px-10 cursor-pointer {{ tabType === 'line' ? 'bg-gray-600 hover:bg-gray-700 rounded-tr-md rounded-br-md' : 'bg-transparent' }}" (click)="changeTabType()">
                  <p class="text-xs font-semibold text-white">Shadow</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Choose light color scheme -->
          <div class="flex flex-col justify-center items-center w-full pb-2 gap-4">
            <!-- Text -->
            <p class="text-sm uppercase text-blue-500 tracking-wider">light color scheme</p>
            <div class="flex flex-wrap justify-center items-center gap-2">
              <!-- Tabs -->
              <div class="flex border bg-gray-900 rounded-md">
                <div class="flex justify-center items-center py-3 px-10 bg-gray-600 rounded-tl-md rounded-bl-md cursor-pointer">
                  <p class="text-xs font-semibold text-white capitalize">white theme</p>
                </div>
                <div class="flex justify-center items-center py-3 px-10 cursor-pointer">
                  <p class="text-xs font-semibold text-white capitalize">gray theme</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
